[Desktop Entry]
Type=Application
Exec=/usr/bin/quiterss
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[ru_RU]=quiterss
Name=quiterss
Comment[ru_RU]=quiterss
Comment=quiterss
