@font-face {
    font-family: 'Poppins';
    src: local('Poppins Regular'), local('Poppins-Regular'), url('chrome-extension://__MSG_@@extension_id__/assets/fonts/Poppinsregular.woff2') format('woff2'), url('chrome-extension://__MSG_@@extension_id__/assets/fonts/Poppinsregular.woff') format('woff'), url('chrome-extension://__MSG_@@extension_id__/assets/fonts/Poppinsregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Bold';
    src: local('Poppins Bold'), local('Poppins-Bold'), url('chrome-extension://__MSG_@@extension_id__/assets/fonts/Poppinsbold.woff2') format('woff2'), url('chrome-extension://__MSG_@@extension_id__/assets/fonts/Poppinsbold.woff') format('woff'), url('chrome-extension://__MSG_@@extension_id__/assets/fonts/Poppinsbold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins Medium';
    src: local('Poppins Medium'), local('Poppins-Medium'), url('chrome-extension://__MSG_@@extension_id__/assets/fonts/Poppinsmedium.woff2') format('woff2'), url('chrome-extension://__MSG_@@extension_id__/assets/fonts/Poppinsmedium.woff') format('woff'), url('chrome-extension://__MSG_@@extension_id__/assets/fonts/Poppinsmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .draggable-wrapper{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    display: block;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-panel{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    pointer-events: inherit;
    min-width: 254px;
    position: fixed;
    width: 254px;
    padding: 0 0 8px 0;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    max-height: 100%;
    -webkit-box-shadow: 0 2px 4px 0 rgba(100, 115, 130, 0.5);
            box-shadow: 0 2px 4px 0 rgba(100, 115, 130, 0.5);
    overflow-y: auto;
    overflow-x: hidden;
    direction: ltr !important;
    z-index: 2147483647 !important;
    background: rgb(245, 247, 250);
    height:auto;
    max-height:100%;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-panel .chromeperfectpixel-panel-wrapper{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-panel .chromeperfectpixel-panel-section--buttons{
    font-size: 11px;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-panel .chromeperfectpixel-panel-section--collapsed{
    position: relative;
    -webkit-box-shadow: none;
            box-shadow: none
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-panel .chromeperfectpixel-panel-section--collapsed:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(245, 247, 250);
    z-index: 1;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-panel .chromeperfectpixel-panel-section--statistics{
    margin-top: 23px;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: none;
            box-shadow: none;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-panel .chromeperfectpixel-panel-section--notificaion{
    position: relative;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-panel .chromeperfectpixel-panel-section--notificaion input{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-panel--collapsed {
    max-height: 30px;
    padding: 0;
    overflow-y: hidden;
}

html body > div.wt-sky-dialog, html body > div.wt-sky-long-dialog, html body > div#wt-sky-root{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    display: none;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button:hover{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    cursor: pointer;
    color: #000;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button svg, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button:hover svg{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button-actions, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button-actions:hover{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    width: 33.3%;
    height: 30px;
    min-width: 76px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    text-align: center;
    line-height: 1;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button-actions svg {
    fill: #C0C9D1;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button-actions:nth-child(2) {
    border-radius: 3px 0 0 3px;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button-actions:hover{
    background-color: rgb(245, 247, 250);
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button-actions:hover svg {
    cursor: pointer;
    fill: rgb(100, 115, 130);
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button-actions:hover:nth-child(2) {
    border-radius: 3px 0 0 3px;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button-actions--active{
    background-color: rgb(229, 242, 255);
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button-actions--active svg {
    cursor: pointer;
    fill: #0C7FF2;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button-actions--active:hover {
    background-color: rgb(222, 235, 247);
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button-actions--active:hover svg {
    cursor: pointer;
    fill: #0C7FF2;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-delete, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-delete:hover {
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    position: absolute;
    height: 23px;
    width: 23px;
    background-color: white;
    border-radius: 23px;
    -webkit-box-shadow: 0 0 4px 0 rgba(100, 115, 130, 0.3);
            box-shadow: 0 0 4px 0 rgba(100, 115, 130, 0.3);
    text-align: center;
    line-height: 0.5;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    top: -4px;
    right: -4px;
    opacity: 0
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-delete.chromeperfectpixel-delete-shown, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-delete:hover.chromeperfectpixel-delete-shown {
    opacity: 1;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-delete:hover, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-delete:hover:hover {
    background: $ hoverColor;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-delete:before, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-delete:after, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-delete:hover:before, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-delete:hover:after {
    position: absolute;
    top: 6px;
    left: 11px;
    content: ' ';
    height: 10px;
    width: 1px;
    background-color: black;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-delete:before, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-delete:hover:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-delete:after, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-delete:hover:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button-coords{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    background: rgb(245, 247, 250);
    -webkit-box-shadow: 0 1px 2px 0 rgba(100, 115, 130, 0.35);
            box-shadow: 0 1px 2px 0 rgba(100, 115, 130, 0.35);
    border-radius: 3px;
    -webkit-transition: all .3s;
    transition: all .3s;
    height: 30px;
    width: 30px;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button-coords button, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button-coords button:hover{
    height: 30px;
    width: 30px;
    text-align: center;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button-coords button:not(.chromeperfectpixel-button-center):hover svg{
    fill: #0C7FF2;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button-coords .chromeperfectpixel-button-center svg {
    fill: transparent;
    stroke: #000;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button-coords .chromeperfectpixel-button-center:hover svg{
    stroke: #0C7FF2;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button-coords:not(:first-child) {
    margin: 0 0 0 7px;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button-coords:hover {
    background-color: rgb(229, 242, 255);
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button-coords:hover svg {
    cursor: pointer;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button-wide, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button-wide:hover{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.7;
    min-width: 65px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    padding: 0 5px;
    height: 30px;
    width: 47%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(247, 247, 247)), to(#FFF));
    background: linear-gradient(rgb(247, 247, 247) 0%, #FFF 100%);
    border: 1px solid rgb(171, 182, 191);
    display: block;
    cursor: pointer
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button-wide.chromeperfectpixel-button-wide--primary, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button-wide.chromeperfectpixel-button-wide--primary:hover, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button-wide:hover.chromeperfectpixel-button-wide--primary, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button-wide:hover.chromeperfectpixel-button-wide--primary:hover {
    background: #0C7FF2;
    border: 1px solid #0C7FF2;
    color: #FFF;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-dropdown{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    position: relative;
    z-index: 2;
    -ms-touch-action: none;
        touch-action: none
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-dropdown.chromeperfectpixel-dropdown--hovered .chromeperfectpixel-dropdown-body, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-dropdown:not(.chromeperfectpixel-dropdown--disabled) .chromeperfectpixel-dropdown-body-open {
    display: block;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-dropdown-content{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    background-color: #FFF;
    border: 1px solid rgb(171, 182, 191);
    border-radius: 3px;
    -webkit-box-shadow: 0 5px 15px 0 rgba(100, 115, 130, 0.15);
            box-shadow: 0 5px 15px 0 rgba(100, 115, 130, 0.15);
    display: block;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-dropdown-content ul{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    list-style: none;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-dropdown-content li{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    display: block;
    font-size: 11px;
    cursor: pointer;
    text-align: right;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 6px 16px
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-dropdown-content li:hover {
    background: rgb(245, 247, 250);
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-dropdown-body{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    display: none;
    position: absolute;
    z-index: 2;
    top: 13px;
    right: 0;
    width: 150px;
    padding: 8px 0 0;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-title{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    display: block;
    font-size: 11px;
    color: rgb(171, 182, 191);
    line-height: 1.5;
    text-transform: uppercase;
    font-family: 'Poppins',Helvetica,sans-serif
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-title-dark {
    color: #0C7FF2;
    cursor: pointer;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-input{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    position: relative;
    border: 1px solid rgb(171, 182, 191);
    border-radius: 3px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 30px;
    min-width: 104px;
    width: 100%;
    display: inline-block;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-input input{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    width: 100%;
    font-family: 13px;
    padding: 6px 15px 3px 6px;
    font-size: 13px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-input--disabled {
    background: rgb(229, 242, 255);
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-input-label {
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    font-family: 'Poppins',Helvetica,sans-serif;
    font-size: 13px;
    color: rgb(171, 182, 191);
    position: absolute;
    right: 7px;
    top: 50%;
    margin-top: -8px;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-panel-ads{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 10px 0 0 0;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-panel-ads .chromeperfectpixel-title--disable-ads{
    cursor: pointer;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-panel-ads-container {
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    margin: 10px 0 0 0;
    width: 238px;
    display: block;
    max-height: 100px;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-panel-ads-container img {
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-panel-ads-container iframe {
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    display: block;
    height: 100%;
    max-width: 238px;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-panel-header{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    background: #FFF;
    -webkit-box-shadow: 0 1px 4px 0 rgba(100, 115, 130, 0.15);
            box-shadow: 0 1px 4px 0 rgba(100, 115, 130, 0.15);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: move;
    height: 30px
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-panel-header.chromeperfectpixel-panel-header--collapsed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    cursor: move;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-panel-header.chromeperfectpixel-panel-header--collapsed .chromeperfectpixel-panel-section--buttons {
    margin: 0;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-panel-header.chromeperfectpixel-panel-header--collapsed .chromeperfectpixel-button-actions, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-panel-header.chromeperfectpixel-panel-header--collapsed .chromeperfectpixel-button-actions:hover {
    min-width: 64px;
    border-radius: 0;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-panel-header:not(.chromeperfectpixel-panel-header--collapsed) {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-radius: 3px;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button-collapse, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button-collapse:hover{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    background: rgb(219, 224, 230);
    height: 30px;
    width: 62px;
    line-height: 1;
    text-align: center;
    font-size: 15px;
    font-family: 'Poppins Bold',Helvetica,sans-serif;
    cursor: pointer;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-title-container{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    width: 81px;
    cursor: move;
    background-repeat: no-repeat;
    background-size: 81px 20px;
    height: 20px;
    margin: 5px 0 0
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-title-container--plain {
    margin: 7px auto;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button-menu, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-button-menu:hover{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    display: block;
    margin: 9px 7px 0 42px;
    width: 15px;
    height: 15px;
    background-size: 15px;
    background-repeat: no-repeat;
    cursor: pointer;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-panel-body{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    display: block;
    margin: 0 auto;
    width: 238px;
    position: relative;
    line-height: normal;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-panel-body.chromeperfectpixel-panel-body--permissions {
    font-size: 13px;
    line-height: 1.7;
    color: rgb(100, 115, 130);
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-body-ask-permissions{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 455px;
    margin: 35px 0 0 0;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-panel-section{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    display: block;
    margin: 8px 0 0;
    background: #FFF;
    -webkit-box-shadow: 0 5px 15px 0 rgba(100, 115, 130, 0.15);
            box-shadow: 0 5px 15px 0 rgba(100, 115, 130, 0.15);
    padding: 12px 8px 9px 8px;
    border-radius: 3px;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-panel-section .chromeperfectpixel-progressbar-area{
    display: none;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-panel-section--buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-panel-section--origin{
    padding: 10px 8px 5px;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-panel-origin{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-origin-column{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    display: block;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-origin-coords, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-origin-inputs{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    width: 46%;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-origin-inputs{
    text-align: right;
    min-width: 95px;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-origin-inputs .chromeperfectpixel-title{
    text-align: right;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-origin-row{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-origin-row:first-child {
    margin: 8px 0 7px;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-origin-row:not(:first-child) {
    margin: 7px 0;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-origin-buttons{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-origin-buttons .chromeperfectpixel-button-toggled{
    background-color: rgb(229, 242, 255);
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-input-number > input{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    display: none;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-input-number .rc-input-number, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-input-number .rc-input-number-handler-wrap, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-input-number .rc-input-number-handler, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-input-number .rc-input-number-input-wrap, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-input-number .rc-input-number-handler-down-inner, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-input-number .rc-input-number-handler-up-inner{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-section-opacity {
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-section-opacity .chromeperfectpixel-initial-block{
    clear: both;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-section-opacity__titles {
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-opacity{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    margin: 10px 0;
    display: block;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-opacity__track {
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    background: rgb(219, 224, 230);
    border-radius: 10px;
    cursor: pointer;
    display: block;
    height: 3px;
    position: relative
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-opacity__track--active {
    background: #0C7FF2;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-opacity__slider {
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    background: #0C7FF2;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    outline: none;
    position: absolute;
    top: 50%;
    height: 14px;
    width: 14px;
    margin-left: -9px;
    margin-top: -8px
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-opacity__slider:active {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-opacity__invisible{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    display: none;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-initial-block, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-opacity__slider-container, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-opacity--invisible{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-addimage-button, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-addimage-button:hover {
    width: auto;
    white-space: nowrap;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-panel-section--layers{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 9px 8px;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-dropdown{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    position: relative;
    line-height: 1
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-dropdown-button {
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    position: relative;
    line-height: 1;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-dropdown-button .chromeperfectpixel-title {
    display: inline-block;
    padding: 0 18px 0 0;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-dropdown-arrow {
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    height: 16px;
    width: 10px;
    display: inline-block;
    right: 0;
    top: 1px;
    position: absolute;
    background-repeat: no-repeat;
    cursor: pointer;
    line-height: 1;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-dropdown-arrow svg {
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    fill: #0C7FF2;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-dropdown:hover svg {
    cursor: pointer;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-fileUploader-container{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-fileUploader-container .chromeperfectpixel-fileUploader{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    display: none;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-layers{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5px 0 0 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-layer{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    width: 100px;
    height: 74px;
    border-radius: 3px;
    position: relative
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-layer:nth-last-child(1n+3) {
    margin: 0 0 7px;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-layer.chromeperfectpixel-layer--default {
    border: 1px solid rgb(171, 182, 191);
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-layer.chromeperfectpixel-layer--default .chromeperfectpixel-layer-name {
    background: rgba(171, 182, 191, 0.2);
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-layer.chromeperfectpixel-layer--active {
    border: 1px solid #0C7FF2;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-layer.chromeperfectpixel-layer--active .chromeperfectpixel-layer-name {
    background: rgba(12, 127, 242, 0.2);
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-layer.chromeperfectpixel-layer--new {
    border: 1px dashed rgb(171, 182, 191);
    color: rgb(100, 115, 130);
    font-family: 'Poppins Medium',Helvetica,sans-serif;
    font-size: 11px;
    line-height: 74px;
    text-align: center;
    cursor: pointer;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-layer-name {
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    font-family: 'Poppins Medium',Helvetica,sans-serif;
    text-align: center;
    font-size: 11px;
    position: absolute;
    width: 100%;
    padding: 3px 5px;
    bottom: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 2px;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-layer-img {
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    display: block;
    width: 100px;
    height: 74px;
    position: relative;
    border-radius: 2px;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-layer-img input[type="radio"] {
    display: none;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-layer-img:hover {
    cursor: pointer;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-layer-img:hover .chromeperfectpixel-layer-name {
    cursor: pointer;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-layer:hover .chromeperfectpixel-delete, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-layer:hover .chromeperfectpixel-delete:hover {
    opacity: 1;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-url {
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    margin: 5px 0 0;
    width: 100%
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-url-input input {
    max-width: 215px;
    padding: 7px 35px 3px 4px;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-url-error {
    color: red;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-url-row {
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 16px 0 0;
    font-size: 12px;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-addimage{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    border: 1px dashed rgb(171, 182, 191);
    background: #FFF;
    display: block;
    margin: 8px 0;
    min-height: 348px;
    position: relative;
    cursor: pointer
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-addimage-icon {
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    width: 114px;
    display: block;
    height: 104px;
    background-repeat: no-repeat;
    background-size: 114px 104px;
    margin: 48px auto 60px;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-addimage-text {
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    margin: 35px 0;
    font-size: 13px;
    color: rgb(100, 115, 130);
    display: block;
    text-align: center;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-addimage-input {
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    display: none;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-addimage-button, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-addimage-button:hover {
    min-width: 140px;
    margin: 0 auto;
    min-height: 26px;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-dropimage-dropzone{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    display: block;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-dropimage{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    border: 1px dashed #0C7FF2;
    background: rgb(245, 250, 255);
    text-align: center;
    font-size: 13px;
    min-height: 476px;
    color: #0C7FF2;
    width: 238px;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-dropimage-icon {
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    width: 40px;
    height: 40px;
    display: block;
    background-repeat: no-repeat;
    margin: 197px auto 20px;
    background-size: 20px 20px;
    background-color: #0C7FF2;
    border-radius: 50%;
    background-position: 50% 50%;
    cursor: pointer;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-dropimage-wrapper {
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
}

#chromeperfectpixel-sponsored body {
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    margin: 0;
    display: block;
}

#chromeperfectpixel-sponsored body #carbonads{
    max-height: 100px;
    overflow: hidden;
}

#chromeperfectpixel-sponsored body .carbon-wrap {
    display: block;
}

#chromeperfectpixel-sponsored body .carbon-img {
    margin: 0 10px 5px 0;
    float: left;
}

#chromeperfectpixel-sponsored body .carbon-text {
    font-size: 11px;
    line-height: 14px;
    color: #333;
    display: block;
    text-decoration: none;
}

#chromeperfectpixel-sponsored body .carbon-text:hover {
    color: #0C7FF2;
}

#chromeperfectpixel-sponsored body .carbon-poweredby {
    margin: 0;
    font-size: 11px;
    line-height: 14px;
    color: rgb(171, 182, 191);
    text-decoration: none;
}

#chromeperfectpixel-sponsored body .carbon-poweredby:hover {
    color: rgb(100, 115, 130);
    border-bottom:1px dotted;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-notification-text, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-notification-text *{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    font-size: 12px;
    vertical-align: top;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-notification-text a, html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-notification-text * a{
    color: #0C7FF2;
    text-decoration: underline;
    cursor: pointer;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-closeNotification:hover {
    opacity: 0.8;
}

html body > div#chromeperfectpixel-panel-container.chromeperfectpixel-panel-container .chromeperfectpixel-notification-box iframe {
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    display: block;
    height: 28px;
}

html body div[id^="chromeperfectpixel-portal"].chromeperfectpixel-portal > div.chromeperfectpixel-overlay-container#chromeperfectpixel-overlay-container {
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    z-index: 2147483646 !important;
    cursor: move;
}

html body div[id^="chromeperfectpixel-portal"].chromeperfectpixel-portal > div.chromeperfectpixel-overlay-container#chromeperfectpixel-overlay-container > img.chromeperfectpixel-overlay, html body div[id^="chromeperfectpixel-portal"].chromeperfectpixel-portal > div.chromeperfectpixel-overlay-container#chromeperfectpixel-overlay-container img.chromeperfectpixel-overlay{
    all: initial;
    font: 14px/19px 'Poppins',Helvetica,sans-serif;
    direction: ltr;
    -ms-interpolation-mode: nearest-neighbor;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-pixelated;
        image-rendering: pixelated;
    visibility: visible;
    max-width: none !important;
    display: block !important;
    z-index: 2147483646 !important;
    background-color: transparent;
    color: transparent;
    border-radius: 0;
    text-shadow: none;
    -webkit-box-shadow: none;
            box-shadow: none
}

html body div[id^="chromeperfectpixel-portal"].chromeperfectpixel-portal > div.chromeperfectpixel-overlay-container#chromeperfectpixel-overlay-container > img.chromeperfectpixel-overlay:hover, html body div[id^="chromeperfectpixel-portal"].chromeperfectpixel-portal > div.chromeperfectpixel-overlay-container#chromeperfectpixel-overlay-container img.chromeperfectpixel-overlay:hover {
    cursor: move !important;
}

html body div[id^="chromeperfectpixel-portal"].chromeperfectpixel-portal > div.chromeperfectpixel-overlay-container#chromeperfectpixel-overlay-container > img.chromeperfectpixel-overlay.chromeperfectpixel-overlay-x-centered, html body div[id^="chromeperfectpixel-portal"].chromeperfectpixel-portal > div.chromeperfectpixel-overlay-container#chromeperfectpixel-overlay-container img.chromeperfectpixel-overlay.chromeperfectpixel-overlay-x-centered {
    margin: 0 auto;
}