snippet pa "position absolute" b
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
endsnippet

snippet mcus "media" b
  @media screen and (max-width: $1) {
		$2
	}
endsnippet
