snippet mcus "media query" b
  @media screen and (max-width: $1) {
    $2
  }
endsnippet

snippet gi "gatsby image" b
  ...GatsbyImageSharpFluid
endsnippet

snippet cnsl "console log" b
  console.log($1);
endsnippet
